*, *::before, *::after {
  box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Audiowide", sans-serif;

    height: 100vh;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 50px;
    border-radius: 10px;
    
}

#controls-panel {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    background-color: #f9f9f9;
    gap: 10px;

}

.container {
    width: 600px;
    min-width: 300px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;

    border: 2px solid #e0e0e0;
    flex-shrink: 0;
    overflow: hidden;
    
}


.row {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    
}

.grid {
    border: 1px solid #6ac5fe;;
    flex-grow: 1;
    flex-shrink: 0;
    
}

/*.shade {
    background-color: green;
} */


button {
    padding: 5px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #6ac5fe;
    border-width: 0px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;

    font-family: inherit;

    color: white;
}

.active-color {
    background-color: #3081b4;
}


#grid-settings {
    display: flex;
    gap: 10px;
}

.color {
    display: flex;
    gap: 10px;
}


input {
    padding: 5px;
    width: 50px;
    height: 30px;
    border-radius: 8px;

    font-family: inherit;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}


