*, *::before, *::after {
  box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(231, 231, 231);

    height: 100vh;
}

.modal {
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: white;
    padding: 50px;
    border-radius: 10px;
    
}

.container {
    width: 600px;
    min-width: 300px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;

    flex-shrink: 0;
    overflow: hidden;
    
}


.row {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    
}

.grid {
    border: 1px solid green;
    flex-grow: 1;
    flex-shrink: 0;
    
}

/*.shade {
    background-color: green;
} */


.color {
    padding: 5px;
    background-color: darkcyan;
}

.active-color {
    background-color: darkslategray;
}



